main-[0-9].asy
main-[0-9].pdf
main-[0-9][0-9].asy
main-[0-9][0-9].pdf
main.asy
main.pdf
main.aux
main.fdb_latexmk
main.fls
main.log
main.out
main.pdf
main.pre
main.synctex.gz
main.toc
**.aux

working.*
working-[0-9].asy
working-[0-9].pdf
working-[0-9][0-9].asy
working-[0-9][0-9].pdf

thesis.pdf
thesis-[0-9].asy
thesis-[0-9].pdf
thesis-[0-9][0-9].asy
thesis-[0-9][0-9].pdf
paper.pdf
paper-[0-9].asy
paper-[0-9].pdf
paper-[0-9][0-9].asy
paper-[0-9][0-9].pdf

chen-evanchen-phd-math-2025-thesis.pdf
